@media (max-width: 1200px) {
    .container {
    max-width: 960px;
    }
}
    
@media (max-width: 1000px) {
    .container {
    max-width: 720px;
    }
}
    
@media (max-width: 768px) {
    .container {
    max-width: 540px;
    }
    .header{
        &__offical{
            display: none;
        }
    }
    .advantages{
        &__items{
            width: 170px;
        }
        &__subheader{
            font-size: 15px;
        }
        &__descr{
            font-size: 13px;
            span{
                font-size: 13px;
            }
        }
    }
    

}
    
@media (max-width: 576px) {
    .container {
    max-width: 100%;
    padding: 0 10px;
    }

    .header{
        &__logo{
            width: 130px;
            img{
                width: 100%;
            }
        }
        &__phone{
            font-size: 15px;
        }
    }

    .promo{
        &__wrapper{
            align-items:center;
        }
        &__header{
            font-size: 36px;
            text-align: center;
        }
        &__subheader{
            text-align: center;
        }
        &__icons{
            margin-right: 0;
        }
    }

    .advantages{
        &__wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            margin-bottom: 10px;
        }
    }

    .consultation{
        &__title{
            font-size: 30px;
            text-align: center;
        }
    }

}